*
{
	font-family: "Verdana", sans-serif;
}

.form
{
	box-shadow: 0 0 5px 0;
	position: relative;
	margin: 50px auto;
	max-width: 320px;
	padding: 30px;
	text-align: center;
	z-index: 1;
}

.form button,input
{
	border: 0;
	font-size: 14px;
	outline: 0;
	padding: 20px;
	width: 100%;
}

.form button
{
    background: #062a6b;
	color: #FFFFFF;
	cursor: pointer;
}

.form button:active
{
	background: #5071b9;
}

.form input
{
	background: #e2e2e2e2;
	box-sizing: border-box;
	margin-bottom: 15px;
}

.header
{
    /*width:100%;*/
    padding: 10px;
	display: block;
    text-align: right;
    background: #062a6b;
    color: white;
    font-size: 10px;
}

.inner_header
{
	height: 100%;
	display: flex;
	/* text-align: center; */
}

.logo_container
{
	height: 100%;
	display: table;
	float: right;
}

.erro-input
{
	border: solid 1px red;
}